
  .container404{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 40, 65);
    width: 100%;
    height: 100%;
    background-image: url('../img/p404.png');
    cursor: move;
  }
  .content404{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }
  .content404 h1{
    font-size: 300px;
    color: #fff;
  }
  .content404 h4{
      font-size: 30px;
      color: #fff;
  }
  .content404 a{
      text-decoration: none;
      background-color: #00aaff;
      padding: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      color: #eee;
      box-sizing: border-box;
      margin-top: 30px;
}

@media screen and (max-width:540px) {
  .content404 h1{
    font-size: 150px;
  }
  .content404 h4{
    font-size: 18px;
  }
}