@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir.eot") format("eot"),
    url("./fonts/vazir.ttf") format("truetype"),
    url("./fonts/vazir.woff") format("woff"),
    url("./fonts/vazir.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Vazir", Tahoma;
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
  direction: rtl;
  overflow-x: hidden;
  background-color: rgb(39, 40, 65);
  position: relative;
  /* padding-bottom: 50px; */
}
textarea{
  resize: none;
}
.hide {
  opacity: 0;
}

/* alert errors */

.fixedR {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.top50 {
  padding-top: 50px;
}

/* tooltip : class = "tooltip" data-tooltip="your message" */
.tooltip {
  position: relative;
}
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  width: max-content;
  padding: 5px 10px;
  background-color: rgba(228, 224, 224, 0.89);
  font-size: 11px;
  top: 130%;
  right: 65%;
  border-radius: 5px 0 5px 5px;
  color: #333c;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  transition-delay: 0.3s;
  z-index: 1;
}

.tooltip:hover::after {
  opacity: 1;
  top: 100%;
}

.alertBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: rgb(35, 156, 24);
  padding: 10px 20px;
  color: #fff;
  height: 40px;
  margin-bottom: 10px;
}
.alertBox.alertBox-error {
  background-color: crimson;
  color: #fff;
}
.alertBox.hidden-alertBox {
  visibility: hidden;
}
.alertBox span {
  font-size: 1rem;
  cursor: pointer;
}

.alertBox.hide {
  opacity: 1;
  animation: HideAlert 1s ease forwards reverse;
  -webkit-animation: HideAlert 1s ease forwards reverse;
}

@keyframes HideAlert {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  40% {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
  }
  80% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
    -webkit-transform: translateX(-3%);
    -moz-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    -o-transform: translateX(-3%);
  }
}

.alertBox.show {
  pointer-events: visible;
  display: flex;
  animation: ShowAlert 1s ease forwards;
  -webkit-animation: ShowAlert 1s ease forwards;
}
@keyframes ShowAlert {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  40% {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
  }
  80% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
    -webkit-transform: translateX(-3%);
    -moz-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    -o-transform: translateX(-3%);
  }
}

.alertBox.show::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(108, 236, 125);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: timeout 5s linear forwards;
  -webkit-animation: timeout 5s linear forwards;
}
.alertBox.show.alertBox-error::before {
  background-color: rgb(236, 108, 108);
}

@keyframes timeout {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* end alert errors */

/* confirm box */
.boxConfirm {
  width: 32%;
  position: fixed;
  height: max-content;
  top: 15%;
  right: 34%;
  background-color: #f2f2f2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 5px 5px 15px #333d;
  z-index: 155;
  box-sizing: border-box;
  padding: 10px 15px;
  animation: boxShow 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-animation: boxShow 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.boxConfirm img {
  width: 98%;
  height: auto;
  display: block;
  max-height: 50vh;
  object-fit: cover;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* pagination */

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination ul li a,
.pagination ul li .linkNav {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #0a0a0a70;
  color: #333;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.pagination ul li:nth-child(1) a {
  border-radius: 0 7px 7px 0;
}
.pagination ul li:last-child a {
  border-radius: 7px 0 0 7px;
}
.pagination ul li a.active,
.pagination ul li a:hover {
  opacity: 1;
  background-color: #0099ff;
  border: 1px solid #00aaff;
  color: #fff;
}

.text-initial,
.text-initial:hover,
.text-initial:active,
.text-initial:focus,
.text-initial:target {
  color: inherit;
}

/* end pagination */

/* post cart */

.postWraper {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.postCart {
  width: 45%;
  margin: 20px auto;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 12px rgba(17, 17, 17, 0.753);
  position: relative;
  padding-bottom: 37px;
}

.postCart .main {
  width: 90%;
  margin: 5px auto;
}

.postCart .main h2 {
  font-size: 20px;
  color: #1a1a1a;
}

.postCart .main .bodyPost {
  margin: 5px 0;
  font-size: 13px;
  text-align: justify;
  color: #131313c7;
}
.minImg img,
.minImg video,
.minImg audio,
.minImg table,
.minImg form {
  display: none;
}
.postCart .main .bodyPost.minImg img {
  width: 20% !important;
  height: 20% !important;
  object-fit: cover;
}

.postCart img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  max-height: 100vh;
}

.readMore {
  display: inline-block;
  background-color: #0099ff;
  color: #fafafa;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.postCart footer {
  width: 100%;
  background-color: #afafaf;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.postCart footer span {
  font-size: 12px;
}

.Comments {
  width: 65%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.Comments * {
  margin: 5px 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #3333;
}
.Comments textarea {
  min-height: 300px;
  resize: vertical;
}
.Comments button {
  background-color: #0e74a7;
  color: #fff;
  cursor: pointer;
}
.w-100 {
  width: 95%;
}
.w-100 img {
  width: 100%;
  height: 100%;
}

/* drop shadow */

.dropShadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  background-color: #333a;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
  cursor: pointer;
}
.dropShadow.show {
  visibility: visible;
  opacity: 1;
}
.loaderDad {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333d2;
}

.loaderDad h3 {
  position: absolute;
  top: 60vh;
  width: 100%;
  text-align: center;
  color: #fff;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 48vh auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.notFound {
  width: 100%;
  height: 100vh;
  background: #272841 url(../img/404.png) center no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.display_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.w-70 {
  width: calc(70% - 20px);
}
.w-30 {
  width: calc(30% - 20px);
}
.m3{
  margin: 13px;
}
span.br{
  width: 100%;
  display: block;
  background-color: #11111142;
  height: 2px;
  border-radius: 1px;
  margin: 5px auto;
}

/* asideSinglePost */
.asideSinglePost {
  background-color: #fafafa;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
}

.container-aside{
  width: 100%;
}


/* writer */
.writer{
  background: linear-gradient(45deg, #065786, #5c05be);
  border-radius:10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  overflow: hidden;
}

.writer p{
  color: rgba(255, 255, 255, 0.808);
  margin: 20px 0;
  text-align: justify;
  font-size: 70%;
}
.dropBox{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.writer .profileImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.writer .userNameInWriter{
  cursor: pointer;
  color: #cad1d6;
}
.mysocial{
  width: 85%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mysocial a{
  height: 40px;
}
.inputSocial i,
.mysocial a.insta,
.mysocial a.phone{
  width: 40px;
  height: 40px;
  background-color: #222;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}
.insta{
font-size: 180%;
  background: rgb(160,54,176);
  background: linear-gradient(71deg, rgba(160,54,176,1) 0%, rgba(221,45,112,1) 50%, rgba(253,182,79,1) 100%);
}
.whatsapp{
  font-size: 180%;
  background-color: #25d366 !important;
}
.email{
  font-size: 130%;
  background-color: #7f7f7f !important;
}


.inputSocial{
  margin: 10px;
  display: flex;
  align-items: center;
}

.inputSocial input{
  border: none;
  border-bottom: 2px solid #3339;
  width: 80%;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 5px 10px;
}

.imgSlider{
  width: 60%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slidItem {
  margin-top: 20px;
  border-right: 2px solid #3336;
  padding: 0 10px;
  box-sizing: border-box;
}
.slidItem small{
  font-size: 60%;
  text-align: right;
  width: calc(40% - 5px) ;
}
@media screen and (max-width: 960px) {
  .postCart,.Comments,.w-30,.w-70 {
    width: 95%;
  }
  .container-aside{
    width: 70%;
    margin: 0 auto;
  }
}


@media screen and (max-width: 700px) {
  
  .boxConfirm {
    width: 70%;
    right: 15%;
  }
}


@media screen and (max-width: 400px) {
  .alertBox {
    width: 70vw;
  }
  .container-aside{
    width: 100%;
  }
}